# CAR PRICE PREDICTION PROJECT:

# Phase I - Web scrapping part

Name: Vaibhav Tayade

contact details: 8087970061

Email Id: vaibhav_t29@rediffmail.com

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import requests
import re

In [5]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [6]:
# Opening the olx website:
url = "https://www.olx.com"
driver.get(url)

In [7]:
#clicking on cars tab:
carstab=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div/div/div[1]/div[2]/div[1]/a/span").click()

In [8]:
#creating empty lists
Modelname=[]
RunningKm=[]
City=[]
CarPrice=[]

while range(15):
    
    #scrapping car modelnames
    try:
        carmodels=driver.find_elements_by_xpath("//span[@class='_2tW1I']")
        for i in carmodels:
            Modelname.append(i.text)
    except NoSuchElementException:
        Modelname.append("No Details Available")
    
    #scrapping kmran of car:
    try:
        kmran=driver.find_elements_by_xpath("//span[@class='_2TVI3']")
        for i in kmran:
            RunningKm.append(i.text)
    except NoSuchElementException:
        RunningKm.append("No Details Available")
    
    #scrapping city of car:
    try:
        city=driver.find_elements_by_xpath("//span[@class='tjgMj']")
        for i in city:
            City.append(i.text)
    except NoSuchElementException:
        City.append("No Details Available")
    
    #scrapping extimated price of car:
    try:
        carprice=driver.find_elements_by_xpath("//span[@class='_89yzn']")
        for i in carprice:
            CarPrice.append(i.text)
    except NoSuchElementException:
        CarPrice.append("No Details Available")
    
    #clicking loadmore button number of times:
    try:
        btn=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        btn.click()
        time.sleep(5)
    except NoSuchElementException:
        break

In [9]:
#Make data frame
df=pd.DataFrame({"Car Modelname": Modelname,
                 "RunningKm": RunningKm,
                 "City": City,
                 "Car Price": CarPrice, 
                })

In [10]:
#removing No details available headlines:
df1 = df[df['Car Modelname'] != 'No Details Available']

In [11]:
df1.head()

,Car Modelname,RunningKm,City,Car Price
0,"Maruti Suzuki Celerio, 2016, Petrol","2016 - 59,105 km","AMANORA, PUNE","₹ 4,20,000"
1,"Volkswagen Vento 1.5 TDI Highline, 2013, Diesel","2013 - 62,000 km","ANDHERI WEST, MUMBAI","₹ 3,99,000"
2,"Fiat Punto Active 1.3, 2012, Diesel","2012 - 69,856 km","MODEL TOWN, AMBALA","₹ 1,55,000"
3,"Maruti Suzuki Baleno 1.2 Delta, 2019, Petrol","2019 - 39,291 km","RK PURAM, DELHI","₹ 6,13,000"
4,"Mahindra E Verito D4, 2012, Diesel","2012 - 125,000 km","SANATH NAGAR, COIMBATORE","₹ 2,45,000"

In [12]:
df1.to_csv('car_price_prediction_datafile.csv')

# Thank You