# Web scrapping assignment 4

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# Question 1)

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [3]:
#Url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
Url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(Url)

In [4]:
rows=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr")

In [6]:
len(rows)

30

In [7]:
#scrapping rank of top videos:
list_rank=[]
for i in range(len(rows)):
    exp_row=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[1]".format(i))
    for j in exp_row:
        list_rank.append(j.text)

In [9]:
len(list_rank)

29

In [22]:
#scrapping videonames of top youtube videos:
videonames=[]
for i in range(len(rows)):
    try:
        exp_row=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[2]/i".format(i))
        
        
        
        for j in exp_row:
            videonames.append(j.text)
    except NoSuchElementException:
        exp_row=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[2]/a".format(i))
        
        for j in exp_row:
            videonames.append(j.text)

In [23]:
len(videonames)

24

In [15]:
videonames

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Shape of You',
 'See You Again',
 'Uptown Funk',
 'Gangnam Style',
 'Sugar',
 'Dame Tu Cosita',
 'Sorry',
 'Roar',
 'Counting Stars',
 'Thinking Out Loud',
 'Dark Horse',
 'Faded',
 'Shake It Off',
 'Girls Like You',
 'Lean On',
 'Bailando',
 'Let Her Go',
 'Mi Gente',
 'Perfect',
 'Waka Waka (This Time for Africa)',
 'Axel F']

In [24]:
Uploader=[]

for i in range(len(rows)):
    exp_row=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[3]/a".format(i))
    for j in exp_row:
        Uploader.append(j.text)

In [26]:
len(Uploader)

26

In [28]:
Views=[]

for i in range(len(rows)):
    views=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[4]".format(i))
    for j in views:
        Views.append(j.text)

In [30]:
len(Views)

29

In [31]:
Upload_date=[]
for i in range(len(rows)):
    d=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr[{}]/td[5]".format(i))
    for j in d:
        Upload_date.append(j.text)

In [33]:
len(Upload_date)

29

# Question 2)

2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [3]:
Url = 'https://www.bcci.tv/'
driver.get(Url)

In [7]:
internationaltab=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click()

In [8]:
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [9]:
Date_day = []
d= driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in d:
    day=i.find_elements_by_xpath("//span[@class='fixture__date']")
    Date_day.append(i.text)

In [10]:
Date_day[:2]

['20\nJULY\n15:00 IST', '23\nJULY\n15:00 IST']

In [12]:
len(Date_day)

10

In [13]:
Place=[]
p= driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")
for i in p:
    Place.append(i.text)

In [14]:
Place[:2]

['2nd ODI\nR Premadasa Stadium, Colombo',
 '3rd ODI\nR Premadasa Stadium, Colombo']

In [15]:
len(Place)

10

In [16]:
Series=[]
s=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
for i in s:
    Series.append(i.text)

In [17]:
Series[:2]

['ODI\nSRI LANKA V INDIA 2021', 'ODI\nSRI LANKA V INDIA 2021']

In [18]:
len(Series)

10

In [19]:
Time=[]
t=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in t:
    Time.append(i.text)

In [20]:
Time[:2]

['15:00 IST', '15:00 IST']

In [21]:
len(Time)

10

In [22]:
#creating dataframe:
df=pd.DataFrame({"Series":Series,
                "Date_day":Date_day,
                "Place":Place,
                "Time":Time})
df

,Series,Date_day,Place,Time
0,ODI\nSRI LANKA V INDIA 2021,20\nJULY\n15:00 IST,"2nd ODI\nR Premadasa Stadium, Colombo",15:00 IST
1,ODI\nSRI LANKA V INDIA 2021,23\nJULY\n15:00 IST,"3rd ODI\nR Premadasa Stadium, Colombo",15:00 IST
2,T20I\nSRI LANKA V INDIA 2021,25\nJULY\n20:00 IST,"1st T20I\nR Premadasa Stadium, Colombo",20:00 IST
3,T20I\nSRI LANKA V INDIA 2021,27\nJULY\n20:00 IST,"2nd T20I\nR Premadasa Stadium, Colombo",20:00 IST
4,T20I\nSRI LANKA V INDIA 2021,29\nJULY\n20:00 IST,"3rd T20I\nR Premadasa Stadium, Colombo",20:00 IST
5,TEST\nENGLAND V INDIA 2021,04\nAUGUST\n15:30 IST,"1st Test\nTrent Bridge, Nottingham",15:30 IST
6,TEST\nENGLAND V INDIA 2021,12\nAUGUST\n15:30 IST,"2nd Test\nLord's, London",15:30 IST
7,TEST\nENGLAND V INDIA 2021,25\nAUGUST\n15:30 IST,"3rd Test\nHeadingley, Leeds",15:30 IST
8,TEST\nENGLAND V INDIA 2021,02\nSEPTEMBER\n15:30 IST,"4th Test\nThe Oval, London",15:30 IST
9,TEST\nENGLAND V INDIA 2021,10\nSEPTEMBER\n15:30 IST,"5th Test\nOld Trafford, Manchester",15:30 IST

# Question 3)

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through cod

In [6]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [7]:
Url = 'https://www.guru99.com/'
driver.get(Url)

In [8]:
selenium=driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a")
selenium.click()

In [9]:
Exception_handling=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
Exception_handling.click()

In [20]:

table=driver.find_elements_by_xpath("//table[@class='table table-striped']")
#xpath for rows
row_elements= driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table/tbody/tr")
Exception_name=[]
for i in range(len(row_elements)):
    exp_row=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[1]".format(i))
    for j in exp_row:
        Exception_name.append(j.text)

In [29]:
Exception_name[:2]

['Exception name', 'ElementNotVisibleException']

In [28]:
len(Exception_name)

41

In [30]:
Description=[]
for i in range(len(row_elements)):
    desc=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table/tbody/tr[{}]/td[2]".format(i))
    for j in desc:
        Description.append(j.text)

In [32]:
Description[:2]

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.']

In [33]:
len(Description)

41

In [15]:
len(row_elements)

42

In [35]:
#Make data frame
df=pd.DataFrame({"Exception name":Exception_name[1:],
                "Description":Description[1:],})
df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...

# Question 4)

Question 4)

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = 'https://statisticstimes.com'
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [3]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [5]:
Url = 'https://statisticstimes.com'
driver.get(Url)

In [10]:
#dropdown button
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [11]:
#dropdown selection: 
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [12]:
#gdp of indian states link selection:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [14]:
row_elements= driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr")

In [16]:
#scrapping Rank of states:
Rank=[]
for i in range(len(row_elements)):
    staterow=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[1]".format(i))
    for j in staterow:
        Rank.append(j.text)

In [18]:
Rank[:2]

['1', '2']

In [19]:
len(Rank)

32

In [20]:
#scrapping Name of states:
Statename=[]
for i in range(len(row_elements)):
    state_n=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[2]".format(i))
    for j in state_n:
        Statename.append(j.text)

In [22]:
Statename[:2]

['Maharashtra', 'Tamil Nadu']

In [23]:
len(Statename)

32

In [24]:
#GSDP at current price (19-20)
#scrapping GSDP  of states:
GSDP_19_20=[]
for i in range(len(row_elements)):
    gsdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[3]".format(i))
    for j in gsdp:
        GSDP_19_20.append(j.text)

In [26]:
GSDP_19_20[:2]

['-', '1,845,853']

In [27]:
len(GSDP_19_20)

32

In [28]:
#GSDP at current price (18-19)
#scrapping GSDP  of states:
GSDP_18_19=[]
for i in range(len(row_elements)):
    gsdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[4]".format(i))
    for j in gsdp:
        GSDP_18_19.append(j.text)

In [30]:
GSDP_18_19[:2]

['2,632,792', '1,630,208']

In [32]:
len(GSDP_18_19)

32

In [33]:
#Share(18-19)
#scrapping share(18-19)  of states:
share_18_19=[]
for i in range(len(row_elements)):
    share=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[5]".format(i))
    for j in share:
        share_18_19.append(j.text)

In [35]:
share_18_19[:2]

['13.94%', '8.63%']

In [37]:
len(share_18_19)

32

In [38]:
#scrapping GDP($ billion) of states:
GDP=[]
for i in range(len(row_elements)):
    gdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr[{}]/td[6]".format(i))
    for j in gdp:
        GDP.append(j.text)

In [40]:
GDP[:2]

['399.921', '247.629']

In [41]:
len(GDP)

32

In [42]:
#Make data frame
df=pd.DataFrame({"RANK":Rank,
                "STATE":Statename,
                "GSDP at current price(19-20)":GSDP_19_20,
                "GSDP at current price(18-19)":GSDP_18_19,
                "Share(18-19)":share_18_19,
                "GDP($Billion)":GDP})
df

,RANK,STATE,GSDP at current price(19-20),GSDP at current price(18-19),Share(18-19),GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385

# Question 5)

Question 5)
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [23]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [24]:
Url = 'https://github.com/'
driver.get(Url)

# Question 6)

Question 6. 
Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [25]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [26]:
Url = "https://www.billboard.com/"
driver.get(Url)

In [27]:
driver.find_element_by_xpath("/html/body/div[2]/main/div[5]/div[2]/div/div/div[2]/div/div/div[1]/div/div[2]/a").click()

In [28]:
#table 1:
#collectings rows of song names:
rows=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[1]/div/article")

In [29]:
#scrapping Rank of songs:
Rank=[]
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[1]/div/article[{}]/div[1]/div[1]".format(i))
    for j in rows_n:
        Rank.append(j.text)

In [31]:
Songname=[]
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[1]/div/article[{}]/div[1]/div[3]/div[1]".format(i))
    for j in rows_n:
        Songname.append(j.text)

In [35]:
#table 2)
#scrapping rank from table 2)
rows=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[3]/div/article")
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[3]/div/article[{}]/div[1]/div[1]".format(i))
    for j in rows_n:
        Rank.append(j.text)

In [36]:
#scrapping songname from table 2)
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[3]/div/article[{}]/div[1]/div[3]/div[1]".format(i))
    for j in rows_n:
        Songname.append(j.text)

In [40]:
#table 3:
#scrapping rank from table 3)
rows=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[5]/div/article")
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[5]/div/article[{}]/div[1]/div[1]".format(i))
    for j in rows_n:
        Rank.append(j.text)

In [44]:
#scrapping songname from table 3
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[5]/div/article[{}]/div[1]/div[3]/div[1]".format(i))
    for j in rows_n:
        Songname.append(j.text)

In [63]:
#table 4:
#scrapping rank from table 4)
rows=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[7]/div/article")
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[7]/div/article[{}]/div[1]/div[1]".format(i))
    for j in rows_n:
        Rank.append(j.text)

In [65]:
#scrapping songname from table 4
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[7]/div/article[{}]/div[1]/div[3]/div[1]".format(i))
    for j in rows_n:
        Songname.append(j.text)

In [67]:
#table 5:
#scrapping rank from table 5)
rows=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[9]/div/article")
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[9]/div/article[{}]/div[1]/div[1]".format(i))
    for j in rows_n:
        Rank.append(j.text)

In [69]:
#scrapping songname from table 5
for i in range(len(rows)):
    rows_n=driver.find_elements_by_xpath("//*[@id='main']/div[5]/div/div[9]/div/article[{}]/div[1]/div[3]/div[1]".format(i))
    for j in rows_n:
        Songname.append(j.text)

In [71]:
len(Songname)

95

In [72]:
len(Rank)

95

In [73]:
#Make data frame
df=pd.DataFrame({"RANK":Rank,
                "SONGNAME":Songname})
df

   RANK                SONGNAME
0     1            Uptown Funk!
1     2       Party Rock Anthem
2     3            Shape Of You
3     4                  Closer
4     5          Girls Like You
..  ...                     ...
90   95  F**k You! (Forget You)
91   96                   Panda
92   97        Break Your Heart
93   98          In My Feelings
94   99           Wrecking Ball

[95 rows x 2 columns]

# Question 7)

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [74]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [75]:
Url = "https://www.naukri.com/"
driver.get(Url)

In [76]:
#to close the opened dialogue box
driver.find_element_by_xpath("/html/body/div[3]/span[1]").click()

In [77]:
designation=driver.find_element_by_xpath("//*[@id='qsb-keyword-sugg']")

In [78]:
designation.send_keys("Data Analyst")

In [79]:
# clicking the search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_button.click()

In [80]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [81]:
Title=[]
for i in title:
    Title.append(i.text)
Title[:2]

['Hiring Business data analyst with Strong SQL Skills',
 'Data Scientist/Data Analyst /Business Analyst']

In [82]:
len(Title)

20

In [83]:
subtitle=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Companyname=[]
for i in subtitle:
    Companyname.append(i.text)
Companyname[:2]

['Hexaware Technologies Ltd.', 'Inflexion Analytix Private Limited']

In [84]:
len(Companyname)

20

In [85]:
Location=[]
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for i in loc:
    Location.append(i.text)
Location[:2]

['Bangalore/Bengaluru', 'Pune, Delhi / NCR, Mumbai (All Areas)']

In [86]:
len(Location)

21

In [104]:
#Make data frame
df=pd.DataFrame({"Designation":Title,
                "Companyname":Companyname,
                "Location":Location[:20]})
df

,Designation,Companyname,Location
0,Hiring Business data analyst with Strong SQL S...,Hexaware Technologies Ltd.,Bangalore/Bengaluru
1,Data Scientist/Data Analyst /Business Analyst,Inflexion Analytix Private Limited,"Pune, Delhi / NCR, Mumbai (All Areas)"
2,Network Design & Data Analyst,Dell International Services India Private Limited,Bangalore/Bengaluru
3,Data Analyst / Business Analytics / MIS Execut...,GABA Consultancy services,"Noida, Greater Noida, Delhi / NCR"
4,"MIS Executive, Business Analyst Executive, Dat...",IDOC SOLUTIONS Pvt Ltd,Pune
5,Consultant - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru
6,Senior Data Analyst I,AXA XL,Silokhera Gurgaon
7,Business/Data Analyst,Shiprocket,Delhi / NCR
8,Junior Data Analyst,Simplilearn,Bangalore/Bengaluru(Sector 2 HSR Layout)
9,Business Data Analyst,United Phosphorus Limited,(WFH during Covid)
10,"Data Analyst,1",Epsilon,Mumbai
11,Junior Data Analyst (pharmacovigilance),2coms,Bangalore/Bengaluru
12,Senior Data Analyst,Poshmark,"Kolkata, Kolkata"
13,Data Analyst/Engineer - VBA/Python,Decision Point,Chennai
14,Merilytics - Business Analyst - Data Analytics...,Meritus Intelytics Private Limited,Gurgaon/Gurugram
15,Business Data Analyst,NetApp,Hyderabad/Secunderabad
16,"Business Data Analyst - Treasury Markets,",Luxoft,Bangalore/Bengaluru
17,Data Analyst,"QuinStreet, Inc.",Bangalore/Bengaluru
18,Research Associate / Data Analyst I Pune I 6 m...,Skymet Weather Services Pvt Ltd. Pune,Pune
19,"MIS Executive, Business Analyst Executive, Dat...",Megara Infotech Private Limited,Pune

# Question 8)

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [56]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [57]:
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/"
driver.get(Url)

In [ ]:
# website outdated:

# Question 9)

Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [58]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [59]:
Url = "https://www.imdb.com/list/ls095964455/"
driver.get(Url)

In [67]:
rows=driver.find_elements_by_xpath("//div[@class='lister-item-content']")

In [ ]:
Title=[]
for i in rows:
    head=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for j in head:
        Title.append(j.text)

In [71]:
Title

['Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones',
 'Game of Thrones']

# Question 10)

Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [107]:
# lets first connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\vaibhav\Desktop\Data science\FlipRobo Projects\Web Scrapping 2\chromedriver.exe")

In [108]:
Url = "https://archive.ics.uci.edu/"
driver.get(Url)

In [110]:
table=driver.find_elements_by_xpath("/html/body/table[3]/tbody/tr/td[2]/table/tbody/tr")

In [114]:
Urls=[]
for i in range(len(table)):
    url=driver.find_elements_by_xpath("/html/body/table[3]/tbody/tr/td[2]/table/tbody/tr[{}]/td[2]/table/tbody/tr/td[2]/span/a".format(i))
    for j in url:
        Urls.append(j.get_attribute("href"))

In [115]:
Urls

['https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Hungarian+Chickenpox+Cases',
 'https://archive.ics.uci.edu/ml/datasets/Myocardial+infarction+complications',
 'https://archive.ics.uci.edu/ml/datasets/Gait+Classification',
 'https://archive.ics.uci.edu/ml/datasets/Codon+usage',
 'https://archive.ics.uci.edu/ml/datasets/in-vehicle+coupon+recommendation',
 'https://archive.ics.uci.edu/ml/datasets/Dry+Bean+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Intelligent+Media+Accelerometer+and+Gyroscope+%28IM-AccGyro%29+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset']

In [117]:
# Scraping data from each url
Datasetname=[]
Datatype=[]
Task=[]
Attributetype=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]
for url in Urls:
    driver.get(url)                                                   
    time.sleep(2)
    #scrapping Dataset name:
    title=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b")
    for i in title:
        Datasetname.append(i.text)
        
    #scrapping datatype:
    dtype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p")
    for m in dtype:
        Datatype.append(m.text)
    
    #scrapping task:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p")
    for n in task:
        Task.append(n.text)
    
    #scrapping Attribute type:
    att_type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p")
    for o in att_type:
        Attributetype.append(o.text)
        
    #scrapping No_of_instances:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p")
    for p in inst:
        No_of_instances.append(p.text)
        
    #scrapping no of attibutes:
    att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p")
    for q in att:
        No_of_attribute.append(q.text)
    
    #scrapping year:
    dateyear=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p")
    for r in dateyear:
        Year.append(r.text)

In [120]:
len(Datasetname)

11

In [121]:
len(Datatype)

11

In [122]:
len(Task)

11

In [123]:
len(Attributetype)

11

In [124]:
len(No_of_instances)

11

In [125]:
len(No_of_attribute)

11

In [126]:
len(Year)

11

In [127]:
#Make data frame
df=pd.DataFrame({"Datasetname":Datasetname,
                 "Datatype":Datatype,
                 "Task":Task,
                 "Attributetype":Attributetype,
                 "No_of_instances":No_of_instances,
                 "No_of_attribute":No_of_attribute,
                 "Year":Year,
                })
df

,Datasetname,Datatype,Task,Attributetype,No_of_instances,No_of_attribute,Year
0,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21
1,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
2,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
3,Hungarian Chickenpox Cases Data Set,Time-Series,Regression,Real,521,20,2021-02-17
4,Myocardial infarction complications Data Set,Multivariate,Classification,Real,1700,124,2020-12-09
5,Gait Classification Data Set,Multivariate,Classification,Real,48,321,2020-10-14
6,Codon usage Data Set,Multivariate,"Classification, Clustering",N/A,13028,69,2020-10-03
7,in-vehicle coupon recommendation Data Set,Multivariate,Classification,N/A,12684,23,2020-09-15
8,Dry Bean Dataset Data Set,Multivariate,Classification,"Integer, Real",13611,17,2020-09-14
9,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020-09-03
10,AI4I 2020 Predictive Maintenance Dataset Data Set,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020-08-30

# THANK YOU

regards,
vaibhav tayade
vaibhav_t29@rediffmail.com